$header-height = 83px
$footer-height = $header-height
$header-padding = 20px
$header-component-padding = 25px 20px 19px
$header-button-width = 91px
$header-button-height = 36px
$left-panel-width = 250px
$layer-width = $left-panel-width - 17px
$right-panel-width = 338px

// colors
$white = #FFFFFF
$black = #000000
$link = #1ba5e5
$blue = #27AAE1
$gray = #BCBEC0
