@import "../helpers/variables"
@import "../helpers/mixins"

.left-panel
	flex 1
	height 100%
	flex-basis 20%
	a
		display block
		color #4a5669
		font-size 15px
		font-weight 600
		height 40px
		line-height 40px
		width 100%
		text-decoration none
		&:hover 
			color #3d9edf